/* styles.css */


.container {
    margin: 0 auto;
    width: 50%;
    max width: 1000px;
}

.box1 {
    background-image: url(img/images.jpeg);
    background-repeat: repeat;
    background-position: center;
    background-size: auto;
    padding: 60px 0px 0px 0px;
}

.box2 {
    background: white;
    margin: 0px;  /* empty space around element*/
    position: inherit;
    border: 5px solid black;
         /*size, style, color*/
    font-family: 'Courier New', Courier, monospace;
}

img{
    float: right;
}

.box3{
  text-align: left;

}

a:link{
    color:rgb(25, 0, 255);
}
a:visited{
    color: black
}
a:hover,
a:focus {
    color: #555;
/* normal color to use for hover.
a:focus is for using tab.; */
}



body {
    background-color: white;
    color:black;
    font-size: 20px;
    text-align: center;
}

p {color: black;
}

h1 {font-size: 100px;
    color: green;
   
}

h2 {color: purple;
}   

h3 {color: white;
}

h4{
    color: firebrick;
}

ol{
    list-style-type: upper-alpha;
}

ul{
    list-style: inside;
    list-style-type: square;
}

